*{
    margin: 0%;
    padding: 0%;
}


td , th,td{
    border: 1px solid;
}

.cree , .creenom ,.creeprenom ,.creesolde{
    background-color: rgb(189, 195, 200);
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94, 104, 121, 0.671) ;
    width: 60%;
    height: 150px;
    margin: 2% auto ;
    border-radius: 30px;
    color: rgb(79, 75, 75);
    text-align: center;
    font-size: 40px;
    display: grid;
    align-items: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#creenomretrait, #creesolderetrait,#creenomverment{
    display: none;
}

.retrait{
    width: 45%;
    height: 270px;
    background-color: rgb(189, 195, 200);
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94, 104, 121, 0.671) ;
    border-radius: 30px;
    color: rgb(79, 75, 75);
    text-align: center;
    font-size: 40px;
    display: grid;
    align-items: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.virement{
    width: 45%;
    height: 270px;
    background-color: rgb(189, 195, 200);
    box-shadow: -3px -3px 7px #ffffff73 , 3px 3px 5px rgba(94, 104, 121, 0.671) ;
    border-radius: 30px;
    color: rgb(79, 75, 75);
    text-align: center;
    font-size: 40px;
    display: grid;
    align-items: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Ajouter{
    width: 60%;
    height: 150px;
    margin: 0.5% auto ;
    display: flex;
    justify-content: space-between;
    
}



.cree:hover{
    box-shadow:inset -13px -13px 27px #ffffff73 ,10px 10px 10px rgba(85, 93, 108, 0.671) ;
}
.retrait:hover{
    box-shadow:inset -13px -13px 27px #ffffff73 ,10px 10px 10px rgba(85, 93, 108, 0.671) ;
}
.virement:hover{
    box-shadow:inset -13px -13px 27px #ffffff73 ,10px 10px 10px rgba(85, 93, 108, 0.671) ;
}

table{
    width: 60%;
    text-align: center;
    margin: 15% auto;
    border: 1px solid black;
}

.para{
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    margin-top: -25%;
}

.inputs{
    display: flex;
    justify-content: space-between;
}

.btn1 , .btn2{
    font-size: 19px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn1:hover{
    background-color: red;
    transform: scale(1.2);
    color: white;
    transition: 0.5s;
}
.btn2:hover{
    background-color: rgb(0, 187, 81);
    color: white;
    transition: 0.5s;
    transform: scale(1.2) ;
}

#fornom , #forprenom ,#forsolde , #inputnomretrait ,#forsolderetrait,#forsoldeverment ,#inputnomverement{
    height: 30px;
    width: 75%;
    border-radius: 7px;
    border: none;
    padding: 5px;
}

input:focus{
    outline: none;
    transform: scale(1.2);
}

#nom ,#prenom{
    color: #ff0000;
    font-size: 35px;
}

.creenom ,.creeprenom ,.creesolde{
   display: none;
}